<h1> UR cart</h1>

<ul>
    <% @cart_items.each do |item| %>
        <li>
            id: <%= item.id %> <br>
            name: <%= item.title %>
            price: <%= item.price %>
        </li>

    <% end %>
</ul>
