<%= render 'pano' %>

<div class="tutorial">
	<img src="POPUP.png" height=523px>
</div>

<div class="end" onClick="endTutorial()"></div>
	

<script>

function endTutorial() {
	var tutorial = document.getElementsByClassName("tutorial");
	var end = document.getElementsByClassName("end");
	tutorial[0].style.display = "none";
	end[0].style.display = "none";

}


</script>

