// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#view {
    max-width:775px;
    position: relative;
    margin: auto;
}

.tutorial {
    border: 1px solid black;
    max-width: 800px;
    height: 525px;
    top: 150px;
    position: relative;
    margin: auto;
    background-color:white;
    opacity: 0.8;
}

.end {
   height: 40px;
   width: 300px;
   margin: 5px 400px;
   position: absolute;
   cursor: pointer;
   z-index:2;
   top: 570px;
}

.view360 {
    top:90px;
    width: 99%;
    height: 89%;
    position: absolute;
    margin: 0px 0px 20px 0px;
}

